<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
        />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    <div id="landing-header">
 		<h1>Welcome to Ratnanjali</h1>
		<a href="/order" class="btn btn-primary btn-lg"><i class="fas fa-arrow-right"></i></a>
    </div>
    
<% include ./partials/footer %>